@font-face{font-family: chakra; src: url(assets/fonts/ChakraPetch-Medium.ttf)}
@font-face{font-family: oxygen; src: url(assets/fonts/Oxygen-Regular.ttf)}
:root{
    --bgc: #f2f3f4;
    --plc: #f5fffa;
    --fnc: #020100;
    --afc: #f2f3f4;
    --acc: #5ad2f4;
    --aac: #3e6990;
    --shc: #0201004a;
}
.dark_theme{
    --bgc: #000000;
    --plc: #141115;
    --fnc: #f2f3f4;
    --afc: #000000;
    --acc: #ff7900;
    --aac: #ba160c;
    --shc: #f2f3f429;
}

*{box-sizing: border-box; margin: 0; padding: 0; font: inherit;}
body{
    margin-top: 80px;
    font-family: oxygen; font-size: 1.22rem;
    width: 100%; min-height: 100vh;
    background-color: var(--bgc);
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

header>nav{
    background-color: var(--plc); box-shadow: var(--shc) 0 4px 4px;
    font-family: chakra; font-size: 1.44rem; text-transform: uppercase; font-weight: bolder;
    display: block; padding: 4px 0 4px 0;
    color: var(--fnc);
}
header>nav>ul{
    display: block;
    list-style-type: none;
    text-align: center;
}
header>nav>ul>li{
    display: inline-block;
    width: 18%;
}
header>nav>ul>li:nth-child(2){
    border-right: 2px solid var(--fnc);
    min-height: 20px; width: 0%;
}
header>nav>ul>li>a, header>nav>ul>li>a:visited{
    display: block;
    text-decoration: none; color: var(--fnc);
    transition: 100ms;
}
header>nav>ul>li>a:hover, header>nav>ul>li>a:focus{
    background-color: var(--shc);
    border-radius: 12px;
}
header>nav>ul>li>a:active{
    background-color: var(--aac);
    color: var(--afc);
    transition: 0ms;
}
main{
    color: var(--fnc);
    font-family: oxygen; font-size: 2.44rem;
}

main>ul{
    list-style-type: none;
}
main>ul>li>div{
    display: flow-root;
    margin: 2rem;
    border-bottom: 4px solid var(--acc);
    padding-bottom: 2rem;
}
main>ul>li:last-child>div{border-bottom: none;}
main>ul>li>div>p{
    margin-right: 1rem;
}

.box{
    float: left;
    width: 24vw; height: 24vw;
    background-color: wheat;
    margin-right: 2rem;
}

.boxr{
    float: right;
    width: 24vw; height: 24vw;
    background-color: wheat;
    margin-right: 2rem;
}

footer{
    display: block;
    background-color: var(--aac);
    min-height: 11rem;
    height: min-content;
    text-align: justify;
    font-family: chakra;
    font-size: 1.44rem;
}
footer>p{
    display: inline-block;
    margin-inline: 20%;
    margin-top: 2rem;
}