@font-face{font-family: chakra; src: url(assets/fonts/ChakraPetch-Medium.ttf)}
@font-face{font-family: oxygen; src: url(assets/fonts/Oxygen-Regular.ttf)}

*{box-sizing: border-box; margin: 0; padding: 0; font: inherit}
body{padding-top: 80px; width: 100%; min-height: 100vh; background-color: #000000;}

.topnav{
    display: block; width: 100%; height: 4vh;
    position: fixed; top: 0;
    background-color: #242424;
    line-height: 4vh;
    box-shadow: #3b04c6 0 4px 12px;
}
.topnav > h2{
    margin-left: 12vw;
    font-family: chakra; font-size: 3vh;
    text-transform: uppercase;
    color: #ffffff;
}

form, form > input{
    font-family: inherit; font-size: inherit;
    font-family: chakra; font-size: 1.2rem;
    font-weight: 200;
}
form{
    display: inline-block; padding: 8px;
    background-color: #1a1a1a;
    border-radius: 8px;
    border: 4px solid #494949;
    width: 16vw; height: 140px;
    margin-left: calc(44vw);
    box-shadow: #ff0095 4px 4px 8px, #3b04c6 -4px -4px 8px;
}

form > input {
    display: block;
    width: 100%; height: 25%;
    margin-bottom: 5.5%;
    background-color: #3f2777; border: 1px solid #ff0095;
    border-radius: 4px; text-align: center;
    color: rgb(255, 0, 238);
}
form > input:hover{
    background-color: #612fe1;
}

@media (max-width: 1000px){
    form{
        width: 40%; height: 10%;
        margin-left: 30vw;
    }
    form > .last{
        margin-bottom: 0.2%;
    }
}
@media (max-width: 500px){
    form{
        width: 80%; height: 10%;
        margin-left: 10vw;
    }
    form > .last{
        margin-bottom: 0.2%;
    }
}